<% if line_item == @current_item %>
<tr id = "current_item">
	<% else %>
	<tr>
<% end %>
		<td width="20%"><%= line_item.quantity %> &times;</td>
		<td width="40%"><%= line_item.product.title %></td>
		<td class = "item_price"><%= number_to_currency(line_item.total_price)%></td>
		<td><%= link_to 'Remove',line_item, :confirm => 'Are u sure u want to delete', :method => :delete %></td>
	</tr>